.message
  .upper-message
    %p.message-top__name
      = message.user.name
    %p.message-top__date
      = message.created_at
  .message-bottom
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'message-bottom__image' if message.image.present?
