.chat--side
  .header
    .header__user-name
      ryosukemaehira
    %ul.header__user-info
      %li.list
        = link_to '#' do
          // font-awesomeのhelperメドッドを呼び出して鉛筆マーク作成
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to '#' do
          // font-awesomeのhelperメドッドを呼び出して歯車マーク作成
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__name
        神
      .group__message
        sdkField
    .group
      .group__name
        aaaaaaaaaa
      .group__message
        まだメッセージはありません。
    .group
      .group__name
        sampleグループ
      .group__message
        まだメッセージはありません。
