.notification{
  background-color: $light_blue;
  width: 100%;
  height: 28px;
  .notice {
    color: #fff;
    text-align: center;
  }
}

.chat--contents {
  width: calc(100vw - 300px);
  float: left;
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    border: 1px solid #eee;
    .left-header {
      float: left;
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        color: $gray;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
    }
  }
  .messages {
    background-color: #AAAAAA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    overflow: scroll;
    .message {
      .upper-message {
        padding-bottom: 10px;
        display: flex;
        &__user-name {
          color: $main_common_color;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $main_common_color;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
   .form {
    background-color: #B8C3C7;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__file {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
    }
    &__send {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
   // placeholderを修飾するために追加
  input::placeholder {
    color: $main_common_color;
    font-size: 16px;
    padding-left: 10px;
  }
}
